<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Success</title>
    <link rel="stylesheet" href="success.component.css">
</head>
<body>
<div class="container">
    <a href="/" id="logo">
        <img id="logo-img" src="./assets/frog_logo.png" alt="Shop Logo">
    </a>
    <div class="message">
        <h1>Checkout Successful!</h1>
        <p>Your order has been successfully processed.</p>
        <p>Thank you for shopping at Frogwear!</p>
        <a href="index.html" class="btn">Return to home</a>
    </div>
</div>
</body>
</html>

