@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/*
Some global styling that is also accessible in component CSS.
Useful for CSS that is re-used across components
*/

:root {
    --max-width: 68rem;
}

body {
    margin: 0;
    background-color: white;
}

/* Center main content area where the router outlet is */
main {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

/* Set max width to have sensible line lengths on wide screen (responsive) */
@media (min-width: 70rem) {
    main {
        width: var(--max-width)
    }
}

/* Prevent underlining when complex content is inside <a> tag */
a {
    color: inherit;
    text-decoration: inherit;
}